In [1]:
# pandas
import pandas as pd 
import numpy as np

In [ ]:
# create series 
series1=pd.Series([1,2,3,4,5,6,7,8,9,10],index=['one','two','three','four','five','six','seven','eihgt','nighan','ten'])
print(series1['one':'ten']) # when you write indecies string the last index will come 
# print(series1[5])# value is 6 only
# print(series1[5:7])# indcis


#dictionary in series
dec1={
    "one":1,
    "two":2,
    "three":3,
    "four":4,
    "five":5}
series2=pd.Series(dec1)
print(series2)

one        1
two        2
three      3
four       4
five       5
six        6
seven      7
eihgt      8
nighan     9
ten       10
dtype: int64
6
one      1
two      2
three    3
four     4
five     5
dtype: int64

C:\Users\ahmed\AppData\Local\Temp\ipykernel_25180\4052139068.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series1[5])# value is 6 only

In [38]:
#create Dataframes #  مكون من series
dic_age={
"ahmed":24,
"ali":20,
"mohamed":25,
"samy":32,
"amr":19}
series_age=pd.Series(dic_age)

dic_tall={
"ahmed":1.75,
"ali":1.68,
"mohamed":1.66,
"samy":1.88,
"amr":1.56}
series_tall=pd.Series(dic_tall)

series_hair={
"ahmed":"red",
"ali":"black",
"mohamed":"balck",
"samy":"blond",
"amr":"whiate"}
series_hair=pd.Series(series_hair)

#we will create dataframe from three  series and one list 
dataframe1=pd.DataFrame({
    'age':series_age,
    'tall':series_tall,
    'hair':series_hair,
    "gender":["male","male","male","male","male" ] 
    })

print(dataframe1)
# print(dataframe1.columns)#بيجيبلي اسم الاعمده
# print(dataframe1.index)
# print(dataframe1["age"]["ahmed"])
# print(dataframe1["age"]) 

dataframe2=pd.DataFrame({"age":series_age})
print(dataframe2)
print(dataframe1)

# create dictionary from loop in list and after that put the dictionary in dataframe
data=[{"a":i,"b":2*i} 
      for i in range(3)]
data_dataframe=pd.DataFrame(data)
print(data_dataframe)

         age  tall    hair gender
ahmed     24  1.75     red   male
ali       20  1.68   black   male
mohamed   25  1.66   balck   male
samy      32  1.88   blond   male
amr       19  1.56  whiate   male
         age
ahmed     24
ali       20
mohamed   25
samy      32
amr       19
         age  tall    hair gender
ahmed     24  1.75     red   male
ali       20  1.68   black   male
mohamed   25  1.66   balck   male
samy      32  1.88   blond   male
amr       19  1.56  whiate   male
   a  b
0  0  0
1  1  2
2  2  4

In [ ]:
# when some keys are missing  
import pandas  as pd

missing_dataframe=pd.DataFrame([{'a':1,'b':2},{'b':3,"C":4}])
print(missing_dataframe)

     a  b    C
0  1.0  2  NaN
1  NaN  3  4.0