In [1]:
# pandas
import pandas as pd 
import numpy as np

In [ ]:
# create series 
series1=pd.Series([1,2,3,4,5,6,7,8,9,10],index=['one','two','three','four','five','six','seven','eihgt','nighan','ten'])
print(series1['one':'ten']) # when you write indecies string the last index will come 
# print(series1[5])# value is 6 only
# print(series1[5:7])# indcis


#dictionary in series
dec1={
    "one":1,
    "two":2,
    "three":3,
    "four":4,
    "five":5}
series2=pd.Series(dec1)
print(series2)

one        1
two        2
three      3
four       4
five       5
six        6
seven      7
eihgt      8
nighan     9
ten       10
dtype: int64
6
one      1
two      2
three    3
four     4
five     5
dtype: int64

C:\Users\ahmed\AppData\Local\Temp\ipykernel_25180\4052139068.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series1[5])# value is 6 only

In [38]:
#create Dataframes #  مكون من series
dic_age={
"ahmed":24,
"ali":20,
"mohamed":25,
"samy":32,
"amr":19}
series_age=pd.Series(dic_age)

dic_tall={
"ahmed":1.75,
"ali":1.68,
"mohamed":1.66,
"samy":1.88,
"amr":1.56}
series_tall=pd.Series(dic_tall)

series_hair={
"ahmed":"red",
"ali":"black",
"mohamed":"balck",
"samy":"blond",
"amr":"whiate"}
series_hair=pd.Series(series_hair)

#we will create dataframe from three  series and one list 
dataframe1=pd.DataFrame({
    'age':series_age,
    'tall':series_tall,
    'hair':series_hair,
    "gender":["male","male","male","male","male" ] 
    })

print(dataframe1)
# print(dataframe1.columns)#بيجيبلي اسم الاعمده
# print(dataframe1.index)
# print(dataframe1["age"]["ahmed"])
# print(dataframe1["age"]) 

dataframe2=pd.DataFrame({"age":series_age})
print(dataframe2)
print(dataframe1)

# create dictionary from loop in list and after that put the dictionary in dataframe
data=[{"a":i,"b":2*i} 
      for i in range(3)]
data_dataframe=pd.DataFrame(data)
print(data_dataframe)

         age  tall    hair gender
ahmed     24  1.75     red   male
ali       20  1.68   black   male
mohamed   25  1.66   balck   male
samy      32  1.88   blond   male
amr       19  1.56  whiate   male
         age
ahmed     24
ali       20
mohamed   25
samy      32
amr       19
         age  tall    hair gender
ahmed     24  1.75     red   male
ali       20  1.68   black   male
mohamed   25  1.66   balck   male
samy      32  1.88   blond   male
amr       19  1.56  whiate   male
   a  b
0  0  0
1  1  2
2  2  4

In [1]:
# when some keys are missing  
import pandas  as pd

missing_dataframe=pd.DataFrame([{'a':1,'b':2},{'b':3,"C":4}])
print(missing_dataframe)

     a  b    C
0  1.0  2  NaN
1  NaN  3  4.0

In [27]:
# create dataframe from two dimensioal numpy  array 
import pandas  as pd
import numpy as np 

arr=np.random.randint(1,20,30).reshape(10,3)# randint(1,20,30)   يعني اختار 30 رقم من بين  واحد لحد عشرين 
#print(arr)
arr_datafram= pd.DataFrame(arr,columns=["age","hight","width"],index= [i*3 for i in range(10)])
print(arr_datafram)

    age  hight  width
0     1     15     17
3    17     17     17
6     2      2     15
9     4      3      3
12    1     10     19
15    4      8      7
18    9     18     16
21    9     13     11
24    8     19     17
27    9     16     15

read read data and indexing and selction

In [88]:
import pandas as pd 
ramen=pd.read_csv('ramen-ratings.csv')
ramen.head(10)
     #select coulmn
ramen["Country"]  # or-- ramen.Country بس الطريقه الاولي افضل عشان الكلمه لو مكونه من كلمتين وبينهم مسافات مش هتفع الطريقه دي 
     # select first row 
ramen.iloc[ 0,:]
     # select first column
ramen.iloc[ :,0 ]
     # هاتلي اول 2 صف واول 3 اعمده
ramen.iloc[ :3,  :3 ]
     # select specifc index in  row is --- when column is  ----
ramen.iloc[ 0,  0 ]

  # select row 50 and 60 and 36
ramen.iloc[ -10: :]
  # select first column
#raman.iloc[ :,0 ]
#-------------------------------اخراج الداتا عن طريق كتابه الاسم وليس الاندكس----------
# ramen.loc[:,["Country",'Style']]
#ramen.iloc[0:6,:]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2570,10,Smack,Vegetable Beef,Pack,USA,1.5,NaN
2571,9,Sutah,Cup Noodle,Cup,South Korea,2,NaN
2572,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN
2573,7,Ve Wong,Mushroom Pork,Pack,Vietnam,1,NaN
2574,6,Vifon,Nam Vang,Pack,Vietnam,2.5,NaN
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2579,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

conditional selction

In [32]:
import pandas  as pd
ramen=pd.read_csv("ramen-ratings.csv")
#----------عاوز كل الداتا لما كون الدوله تايوان --------
ramen[ramen.Country =="Taiwan"]

#---- lets have a look at ramen diches which have rating above tahn average---
# delete all unrated values and restroe the new data in ramen object 
ramen=ramen[ramen.Stars  != 'Unrated']
# convert data to another type of data
ramen.Stars=ramen.Stars.astype(float)
ramen[ramen.Stars > 2.5]

# git dichs in taiwan with above averge rating 
ramen[(ramen.Country =="Taiwan" ) & ( ramen.Stars > 2.5 )]

# git all brand and style coulmns  in taiwan with above averge rating 
ramen[(ramen.Country =="Taiwan" ) & ( ramen.Stars > 2.5 ) ] [['Style' ,'Brand']]

#ده بيرجعلك كل دولة وعدد مرات ظهورها، من الأكثر للأقل.
ramen["Country"].value_counts().head(2)

# git all dishes served in both finland and sweden
ramen[ramen['Country'].isin(['Finland','Sweden'])]

# لو بتفلتر على القيم اللي مش فاضية
ramen[ramen["Top Ten"].notnull()]  

# لو عوزين نضيف عمود جديد 
ramen["new_column"]='good' # كل القيم هتبقا good

#تغير محتوي عمود 
#ramen['Stars']= ramen.Stars.apply(lambda x:"high" if x > 3.5  else "low")

#  انشاء عمود جديد بناء علي شرط  
ramen['Rating_level']= ramen.Stars.apply(lambda x:"high" if x > 3.5  else "low")

#  تعديل قيم موجودة في عمود:
ramen['Country']=ramen['Country'].replace('USA','united states')

#مثلاً تغيّر القيمة في عمود Style إلى "Cup" لو الدولة "Japan":
ramen.loc[ramen['Country']=='Japan' ,'Style']='cup'
ramen

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,new_column,Rating_level
0,2580,New Touch,T's Restaurant Tantanmen,cup,Japan,3.75,NaN,good,high
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,good,low
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,united states,2.25,NaN,good,low
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,good,low
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,good,high
...,...,...,...,...,...,...,...,...,...
2575,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN,good,low
2576,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN,good,low
2577,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN,good,low
2578,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN,good,low
2579,1,Westbrae,Miso Ramen,Pack,united states,0.50,NaN,good,low

handling and missing data

In [ ]:
import pandas  as pd
ramen=pd.read_csv("ramen-ratings.csv")
ramen.shape # شكل الداتا فريم 
ramen.isnull().sum() # بيجمع  اجمالي عدد القيم ال null

#لو القيم قليلة ومش مؤثرة، ممكن تشيل الصف كله أو العمود.
ramen.dropna()  # inplace=True بنحطها عشان اقوله عدلي في الداتا فريم الاساسيه 

#حذف الأعمدة اللي فيها NaN:

ramen.dropna(axis=1, )

# نحط في القيم الفاضيه قيمه ثايته مثلا 0
ramen["Top Ten"].fillna(0,)
# لو عاوز احط الوسط الحسابي ق قيمه ثابته في كله 
#ramen["Stars"].fillna(ramen["Stars"].mean(),inplace=True)

# لو هنحط القيم الفاضيه ب اكثر حاجه اتكررت في العمود
ramen["Style"].fillna(ramen["Style"].mode()[0],)

#الكود ده بيملأ القيم الفارغة في عمود الاستيل  باستخدام القيمة الأكثر تكرارًا في نفس البلد (بناءً على عمود الدوله
# يعني لو فيه بعض القيم الفارغة في البلد اليابان ، هيتملأوا بالقيمة الأكثر تكرارًا في عمود الاستيل النسبة لليابان فقط.
ramen["Style"]=ramen.groupby("Country")["Style"].transform(lambda x :x.fillna(x.mode()[0]))

Review #       0
Brand          0
Variety        0
Style          0
Country        0
Stars          0
Top Ten     2539
dtype: int64